service_name: "[% service_name %]"

environment: 'production'

appname: "rest_ws"

service_binary: "[% service_binary %]"

service_port: "[% service_port %]"

deployment_type: "[% deployment_type %]"

deployment_id: "[% deployment_id %]"

storage_pool: "[% storage_pool %]"
